@{
    ViewData["Title"] = "Home Page";
}
<br />
<form action="/Home/Login" method="post">
    <div class="form-group">
        <input type="email" class="form-control" name="Email" placeholder="kullanıcı@örnek.com" />
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="Password" placeholder="Parola" />
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
